.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/Crouton
/dialogplus
/linkedin
/multi-image-selector
/rebound-android
/rebound-core
/captures
/app/practice.jks
/app/release
/xUtils
/PullToRefreshListView
/ViewPageIndicator
/actionbarsherlock
/EdittextValidator
