.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/practice.jks
/app/release
/xUtils
/PullToRefreshListView
/ViewPageIndicator
/actionbarsherlock
/EdittextValidator
